.time-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 350px; */
    background-color: rgb(138, 35, 223);
    border-radius: 10px;

  }
  
  .time-option {
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .time-option.selected {
    background-color: #6c63ff; /* Change this to your desired color */
    color: rgb(196, 187, 187);
  }