.product{
   width:300px;
    height:650px;
    border-radius: 8px;
    margin: 50px;
    border: 2px solid seagreen;
    
}
.btn-cart{
    width:100%;
    background-color:chocolate;
    border-radius: 10px;
        
}
.btn-cart :hover{
    background-color: aqua;
}



.product img{
    width:300px;
    height:300px;
    border-radius: 8px;
    margin: 5px;
}
.product-name{
    font-family:'Arial';
    font-style: normal;
    font-weight:bold;
    font-size: 30px;
    line-height: 25px;
    
    }